    {% extends 'base.html' %}

    {% block content %}
    <div class="container pt-3">
        <div class="container mt-5">
            <div class="border border-dark rounded p-3 m-5">
                <form id="form_execute_order">
                    <legend class="mb-3"></legend>
                    <div class="mb-3">
                        <label for="order_id" class="form-label">Номер заказа</label>
                        <input type="number" id="order_id" class="form-control" placeholder="Введите номер заказа:" required>
                    </div>
    
                    <div class="mb-3">
                        <label for="executer" class="form-label">Исполнитель</label>
                        <select name="choice_select_executer" id="executer">
                            <!-- Здесь будут данные из БД -->
                        </select>
                        
                    </div>

                    <div class="mb-3">
                        <label for="type_repair" class="form-label">Тип ремонта</label>
                        <input type="text" id="type_repair" class="form-control" placeholder="Введите тип ремонта:" required>
                    </div>
    
                    <div class="mb-3">
                        <label for="repair_cost" class="form-label">Стоимость ремонта</label>
                        <input type="number" id="repair_cost" class="form-control" placeholder="Введите стоимость ремонта:" min="0" required>
                    </div>
    
                    <div class="mb-3">
                        <label for="date_execute" class="form-label">Дата исполнения заказа</label>
                        <input type="date" id="date_execute" class="form-control" placeholder="дата исполнения" required>
                    </div>
    
                    <div class="mb-3">
                        <label for="choice_select" class="form-label">Сообщение о проделанной работе</label>
                        <select name="choice_message" id="choice_select">
                            <option value="choice_yes">Задача выполнена</option>
                            <option value="choice_no">Задача не выполнена</option>
                        </select>
                    </div>
    
                    <div class="mb-3">
                        <label for="receipt_date" class="form-label">Дата получения товара</label>
                        <input type="date" id="receipt_date" class="form-control" placeholder="дата получения товара">
                    </div>

                    <div>
                        <input type="button" value="Сохранить" class="btn btn-dark" onclick="add_execute_order_in_db()">
                    </div>
                </form>            
            </div>
        </div>
    </div>
    {% block scripts_down %}
    <script type="text/javascript">
        // !!!!Функции для ГЕТА!!!
        const get = async (url) => {
            const response = await axios.get(
                url
            );
            return await response.data
        };

        // "id": res[0],
        // "name": res[1],
        // "title": res[2]

        function set_data_in_form(data){
            document.getElementById("order_id").value = data["id_order"];
            document.getElementById("type_repair").value = data["id_order"];
            document.getElementById("repair_cost").value = data["id_order"];
            document.getElementById("date_execute").value = data["id_order"];
            document.getElementById("choice_message").selectedIndex = data["type_of_repair"]
            document.getElementById("receipt_date").value = data["id_order"];

        }

        
        async function addDataInSelect(choice_id){
            let index_counter;
            let order;
            let current_staff;

            // считываем query параметр
            const urlSearchParams = new URLSearchParams(window.location.search);
            const params = Object.fromEntries(urlSearchParams.entries());
            let order_id = params["id"]
            console.log(order_id)

            // "id": res[0],
            // "name": res[1],
            // "title": res[2]
            await get(`/api/get_order?=${order_id}`).then(res =>{
                order = res
            }).catch(error =>{
                console.log(error)
            })



            // Формат получаемых данных [id, title]
            await get("/api/get_post").then(res =>{
                let data = res;
                let select = document.getElementById(choice_id);
                
                // добавление в select
                for (let index_data in data) {

                    // Айдишник нужного поста для селекта
                    if (current_staff["title"] === data[index_data]["warranty_period"]) {
                        index_counter = index_data;
                    }
                    // -----

                    //console.log(data[index_data]["title"])
                    let opt = document.createElement('option');
                    // id - id в БД
                    opt.value = data[index_data]["id"];
                    opt.innerHTML = data[index_data]["title"];
                    select.appendChild(opt);
                }

                let opt = document.createElement('option');
                opt.value = "choice_not_in_list";
                opt.innerHTML = "Отсутствует в списке";
                select.appendChild(opt);

                // Устанавливаем значения в форму
                set_data_in_form({"name": current_staff["name"], "index": Number(index_counter)})


          }).catch(error =>{
            console.log(error)
          })
        }

        // Выполнить функцию выше при загрузке страницы
        window.onload = addDataInSelect("choice_post");

        // !!!!Функции для ПОСТА!!!!
        const post = async (url, dict_) => {
            const response = await axios.post(
                url, dict_
            );
            return await response.data
        }

        // !!!!Функции для ПАТЧА!!!!
        const patch = async (url, dict_) => {
            const response = await axios.patch(
                url, dict_
            );
            return await response.data
        }

        function clearInputs() { 
            // Очистить поля ввода
            document.getElementById("staff_name").value = ""; 
            document.getElementById("post_name").value = ""; 
        } 

        

        // Получаем данные из формы
        function get_data_from_input(){
            let choice = $("#choice_post").val();
            let name = $("#staff_name").val();
            let post;

            // проверка на выбранное поле
            if (choice !== "choice_not_in_list"){
                post = $("#choice_post :selected").text();
            }
            else{
                post = $("#post_name").val();
            }

            //console.log(name, post)
            return {"name":name, "posts_name":post}
        }

        async function add_staff_in_db(){
            // получаем данные из формы
            let data = get_data_from_input();

            // флаг на наличие пустых полей в форме
            let flag_empty = false;

            // если есть пусты поля(в том числе не выбранные даты) flag_empty=true
            for (let key in data){
                if (data[key] === "") {
                    flag_empty = true;
                    break;
                }
            }

            if (!flag_empty) {
                // clearInputs();
                let data_posts;

                await post("/api/add_post", {"title": data["posts_name"]}).then(res =>{
                    console.log(res)
                }).catch(error => {
                    console.log(error)
                })

                let post_id;

                // Формат получаемых данных [id, name, title(post)]
                await get("/api/get_post").then(res =>{
                    data_posts = res.reverse();
                }).catch(error =>{
                    console.log(error)
                })

                // Поиск необходимой должности (для id)
                for (let post in data_posts) {
                    if (data_posts[post]["title"] === data["posts_name"]) {
                        post_id = data_posts[post]["id"]
                        break;
                    }
                }

                const urlSearchParams = new URLSearchParams(window.location.search);
                const params = Object.fromEntries(urlSearchParams.entries());
                
                console.log({"id": params["id"], "name": data["name"], "posts_id": post_id});

                // Формат отправляемых данных ['id', 'name', 'posts_id']
                await patch("/api/edit_staff", {"id": Number(params["id"]), "name": data["name"], "posts_id": post_id}).then(res =>{
                    console.log(res)
                }).catch(error => {
                    console.log(error)
                })
            }
            else{
                // info
                console.log("Не все поля заполнены!");
            }    
        }
    </script>
    {% endblock %}
{% endblock %}