{% extends 'base.html' %}

{% block scripts %}
    <script>
        function shower(divId) {
            $("#" + divId).show();
            //console.log("Я появился")
        }

        function hider(divId){
            $("#" + divId).hide();
            //console.log("Я скрылся")
        }

        function GFG_Fun(value) {
            if (value !== "choice_not_in_list") {
                hider('hide_div')
            }
            else{
                shower('hide_div')
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div class="container pt-3">
        <div class="container mt-5">
            <div class="border border-dark rounded p-3 m-5">
                <form id="form_add_staff">
                    <legend class="mb-3">Изменить данные сотрудника</legend>
                    <div class="mb-3">
                        <label for="staff_name" class="form-label">ФИО сотрудника</label>
                        <input type="text" id="staff_name" class="form-control" placeholder="Введите ФИО:" required>
                    </div>

                    <div class="mb-3">
                        <label for="choice_post" class="form-label">Должность</label>
                        <select name="choice_select_post" id="choice_post" onclick="GFG_Fun(this.value)">
                            <!-- Здесь будут данные из БД -->
                        </select>
                    </div>

                    <div>
                        <input type="button" value="Сохранить" class="btn btn-dark" onclick="add_staff_in_db()">
                    </div>
                </form>            
            </div>
        </div>
    </div>
    {% block scripts_down %}
    <script type="text/javascript">
        // !!!!Функции для ГЕТА!!!
        const get = async (url) => {
            const response = await axios.get(
                url
            );
            return await response.data
        };

        // "id": res[0],
        // "name": res[1],
        // "title": res[2]

        function set_data_in_form(data){
            document.getElementById("staff_name").value = data["name"];
            document.getElementById("choice_post").selectedIndex = data["index"]

        }

        
        async function addDataInSelect(choice_id){
            let index_counter;
            let staffs;
            let current_staff;

            // считываем query параметр
            const urlSearchParams = new URLSearchParams(window.location.search);
            const params = Object.fromEntries(urlSearchParams.entries());
            let staff_id = params["id"]
            console.log(staff_id)

            // "id": res[0],
            // "name": res[1],
            // "title": res[2]
            await get("/api/get_staff").then(res =>{
                staffs = res
            }).catch(error =>{
                console.log(error)
            })

            // Бежим по индексам сотрудников, ищем нужного
            for (let staff_index in staffs) {
                if (Number(staffs[staff_index]["id"]) === Number(staff_id)) {
                    current_staff = staffs[staff_index]
                }
            }


            // Формат получаемых данных [id, title]
            await get("/api/get_post").then(res =>{
                let data = res;
                let select = document.getElementById(choice_id);
                
                // добавление в select
                for (let index_data in data) {

                    // Айдишник нужного поста для селекта
                    if (current_staff["title"] === data[index_data]["title"]) {
                        index_counter = index_data;
                    }
                    // -----

                    //console.log(data[index_data]["title"])
                    let opt = document.createElement('option');
                    // id - id в БД
                    opt.value = data[index_data]["id"];
                    opt.innerHTML = data[index_data]["title"];
                    select.appendChild(opt);
                }

                let opt = document.createElement('option');
                opt.value = "choice_not_in_list";
                opt.innerHTML = "Отсутствует в списке";
                select.appendChild(opt);

                // Устанавливаем значения в форму
                set_data_in_form({"name": current_staff["name"], "index": Number(index_counter)})


          }).catch(error =>{
            console.log(error)
          })
        }

        // Выполнить функцию выше при загрузке страницы
        window.onload = addDataInSelect("choice_post");

        // !!!!Функции для ПОСТА!!!!
        const post = async (url, dict_) => {
            const response = await axios.post(
                url, dict_
            );
            return await response.data
        }

        // !!!!Функции для ПАТЧА!!!!
        const patch = async (url, dict_) => {
            const response = await axios.patch(
                url, dict_
            );
            return await response.data
        }

        function clearInputs() { 
            // Очистить поля ввода
            document.getElementById("staff_name").value = ""; 
            document.getElementById("post_name").value = ""; 
        } 

        

        // Получаем данные из формы
        function get_data_from_input(){
            let choice = $("#choice_post").val();
            let name = $("#staff_name").val();
            let post;

            // проверка на выбранное поле
            if (choice !== "choice_not_in_list"){
                post = $("#choice_post :selected").text();
            }
            else{
                post = $("#post_name").val();
            }

            //console.log(name, post)
            return {"name":name, "posts_name":post}
        }

        async function add_staff_in_db(){
            // получаем данные из формы
            let data = get_data_from_input();

            // флаг на наличие пустых полей в форме
            let flag_empty = false;

            // если есть пусты поля(в том числе не выбранные даты) flag_empty=true
            for (let key in data){
                if (data[key] === "") {
                    flag_empty = true;
                    break;
                }
            }

            if (!flag_empty) {
                // clearInputs();
                let data_posts;

                await post("/api/add_post", {"title": data["posts_name"]}).then(res =>{
                    console.log(res)
                }).catch(error => {
                    console.log(error)
                })

                let post_id;

                // Формат получаемых данных [id, name, title(post)]
                await get("/api/get_post").then(res =>{
                    data_posts = res.reverse();
                }).catch(error =>{
                    console.log(error)
                })

                // Поиск необходимой должности (для id)
                for (let post in data_posts) {
                    if (data_posts[post]["title"] === data["posts_name"]) {
                        post_id = data_posts[post]["id"]
                        break;
                    }
                }

                const urlSearchParams = new URLSearchParams(window.location.search);
                const params = Object.fromEntries(urlSearchParams.entries());
                
                console.log({"id": params["id"], "name": data["name"], "posts_id": post_id});

                // Формат отправляемых данных ['id', 'name', 'posts_id']
                await patch("/api/add_staff", {"id": Number(params["id"]), "name": data["name"], "posts_id": post_id}).then(res =>{
                    console.log(res)
                }).catch(error => {
                    console.log(error)
                })
            }
            else{
                // info
                console.log("Не все поля заполнены!");
            }    
        }
    </script>
    {% endblock %}
{% endblock %}