    {% extends 'base.html' %}

    {% block scripts %}
    {% endblock %}

    {% block content %}
    <div class="container mt-5">
        <table class="table table-striped table-hover" id="table_execute_orders">
            <caption>Таблица исполнения заказов</caption>
            <thead>
                <tr>
                <th scope="col">#Номер заказа</th>
                <th scope="col">Заказчик</th>
                <th scope="col">Тип ремонта</th>
                <th scope="col">Стоимость ремонта</th>
                <th scope="col">Дата исполнения заказа</th>
                <th scope="col">Сообщение о выполненной работе</th>
                <th scope="col">Дата получения товара</th>
                <th scope="col">Общая стоимость(с учетом гарантии)</th>
                <th scope="col">Действие</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">id - 1</th>
                <td>Мистер-Бистер</td>
                <td>Замена подшипников</td>
                <td>2323</td>
                <td>20.20.2020</td>
                <td>да</td>
                <td>20.28.2020</td>
                <td>2323</td>
                <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Действие
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Изменить</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Удалить</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                <th scope="row">id - 2</th>
                <td>Мистер-Бистер</td>
                <td>Замена разетки</td>
                <td>2323</td>
                <td>20.20.2020</td>
                <td>да</td>
                <td>20.28.2020</td>
                <td>0</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Действие
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Изменить</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Удалить</a></li>
                        </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                <th scope="row">id - 3</th>
                <td>Мистер-Бистер</td>
                <td>Пайка платы</td>
                <td>2323</td>
                <td>20.20.2020</td>
                <td>да</td>
                <td>20.28.2020</td>
                <td>2323</td>
                <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Действие
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Изменить</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Удалить</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>

    {% block scripts_down %}
        <script type="text/javascript">

            const get = async (url) => {
                const response = await axios.get(
                    url
                );
                return await response.data
            };

            // Формат получаемых данных [id, client_name, warranty_period, repair_type, repair_cost, order_execution_date, message, date_of_receipt, order_receipt_date]
            async function addDataInTable(table_id){
                await get("/api/get_execution").then(res =>{
                let data = res
                let table = document.getElementById(table_id);
                console.log(data)
                let list_tag = ["id", "client_name", "repair_type", "repair_cost", "order_execution_date", "message", "date_of_receipt"]

                for (let one_data in data) {
                    //console.log(data)
                    let counter = 0;
                    let new_row = table.insertRow(table.rows.length);
                    for (let key in list_tag) {


                        // Вставляем данные в ячейки новой строки
                        new_row.insertCell(counter).innerHTML = data[one_data][key];
                        counter++;
                    }

                    // Проверка на наличие гарантии
                    let warranty_date = new Date((data[one_data]["warranty_period"]));
                    let order_receipt_date = new Date(data[one_data]["order_receipt_date"]);

                    // console.log(warranty_date.getTime() < order_receipt_date.getTime());
                    if (warranty_date.getTime() < order_receipt_date.getTime()) {
                      garanthy = data[one_data]["repair_cost"]
                    }
                    else{
                      garanthy = 0
                    }
                    new_row.insertCell(counter).innerHTML = garanthy;

                    // Вставляем данные в ячейки новой строки
                    new_row.insertCell(counter).innerHTML = `
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Действие
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Изменить</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Удалить</a></li>
                            </ul>
                        </div>
                    `
                }

              }).catch(error =>{
                console.log(error)
                return null
              })
            }

            window.onload = addDataInTable("table_execute_orders");
        </script>
    {% endblock %}

    {% endblock %}